<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
           
        
          
              <h4>Register</h4>
              <form action="/user/register" method="POST" style="text-align:inherit">
                  {% csrf_token %}
                  <label for="username">Username:</label>
                  <input type="text" name="username">
                  <p>
                  <label for="first_name">First Name:</label>
                  <input type="text" name="first_name">
                  </p><p>
                  <label for="last_name">Last Name:</label>
                  <input type="text" name="last_name">
              </p><p>
                  <label for="birthday">Birthday:</label>
                  <input type="date" name="birthday">
              </p><p>
                  <label for="email":>Email:</label>
                  <input type="email" name="email">
              </p><p>
                  <label for="password">Password:</label>
                  <input type="password" name="password">
              </p><p>
                  <label for="password_confirmation">Password Conf.:</label>
                  <input type="password" name="password_confirmation">
              </p>
                  <input type="submit" value="Register">
                  {% if error %}
                  {% for i in error %}
                    <li>{{i}}</li>
                  {% endfor %}
                  {% endif %}
                  {% if messages %}
                  <ul >
                  {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                  <button><a href="/">Go Back</a></button>
              </form>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>